.App {
    
    font-family: "Lato", sans-serif;
  }
  
  .styleCard {
    
    color: #253b56;
    text-align: center;


  }
  
  .styleCardContent {
    padding: 4px 16px 20px 16px;
    
  }
  
  .styleImg {
    width: 100;
    height: 100;
  }

  .styleCardTitle {
    
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin: 12px 0px 0px 0px;
    
  }
  
  .styleStock {
    color: #8294aa;
    font-size: 14;
    
  }
  
  .styleCost {
    font-size: 14;
    
  }
  
.styleInfo {
  font-size: 16;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: blue;
}
